// * {
//   padding: 0;
//   margin: 0;
// }

.App {
  text-align: center;
}

.AppContainer {
  background-color: hsl(185, 41%, 84%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Title {
  color: hsl(183, 100%, 15%);
  width: 150px;
  height: auto;
  overflow-wrap: break-word;
  letter-spacing: 20px;
  font-size: 25px;
  margin: 2em 0;
}

@media (max-width: 880px) {
  .Title {
    font-size: 25px;
    margin: 0.5em;
  }
}
