.Title {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}

.InputContainer {
  background-color: hsl(189, 41%, 97%);
  padding: 5px 15px;
  border-radius: 5px;
  margin: 15px 0;

  input {
    border: none;
    text-align: right;
    font-size: 24px;
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
  }
  input:focus {
    outline: none;
  }
}

.InputError {
  border: 1px solid red;
}

@media only screen and (max-width: 880px) {
  .InputContainer {
    background-color: hsl(189, 41%, 97%);
    padding: 5px 10px;
    border-radius: 5px;
  }
}
