.TipContainer {
  h3 {
    font-size: 15px;
    margin: 10px 0;
  }

  button,
  input {
    border: none;
    font-size: 24px;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
  }
  button {
    border: none;
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
  }

  button:hover {
    cursor: pointer;
    background-color: hsl(172, 67%, 45%);
  }

  .Grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
  }

  input {
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    width: 100px;
  }
}

@media only screen and (max-width: 880px) {
  .TipContainer {
    button,
    input {
      // font-size: 20px;
      padding: 5px;
    }

    .Grid {
      margin: 20px 0;
    }
  }
}
