.Container {
  display: flex;
  color: hsl(183, 100%, 15%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  font-size: 15px;
  padding: 1.5em;

  .InputContainer > * {
    margin: 1em;
  }

  .OutputContainer {
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .OutputContainer > * {
    margin: 1.5em;
  }
}

@media only screen and (max-width: 880px) {
  .Container {
    flex-direction: column;
    padding: 0;
  }
}
