.ValuePerPersonLayout > * {
  align-self: center;
  // margin: 10px;
}

.ValuePerPersonLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .TipAmountTotal {
    font-size: 15px;
  }

  h3 {
    font-size: 15px;
    color: hsl(184, 14%, 56%);
  }

  .figures {
    font-size: 50px;
    color: hsl(172, 67%, 45%);
    // margin: 0;
  }
}

@media only screen and (max-width: 880px) {
  .ValuePerPersonLayout {
    margin: 10px;
  }
}
